{{ define "main" }}
    {{ with .Content }}
        {{ . }}
    {{ end }}

<h3>News</h3>
{{ with .Site.GetPage "/blog/news" }}
  {{ range (first 5 .RegularPagesRecursive.ByDate.Reverse) }}
    <li>{{ .Date | time.Format ":date_short" }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
{{ end }}
<a href="/blog/news">more...</a>


<h3>Recent Commentatary</h3>
{{ with .Site.GetPage "/blog/commentary" }}
  {{ range (first 5 .RegularPagesRecursive.ByDate.Reverse) }}
    <li>{{ .Date | time.Format ":date_short" }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
{{ end }}
<a href="/blog/commentary">more...</a>

<h3>Recent SOPs</h3>
{{ with .Site.GetPage "/docs" }}
  {{ range (first 5 .RegularPagesRecursive.ByDate.Reverse) }}
    <li>{{ .Date | time.Format ":date_short" }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
{{ end }}
<a href="/docs">more...</a>

{{ end }}